langchain-anthropic
langchain-community
langchain-huggingface
langgraph
langgraph-prebuilt
faiss-cpu
sentence-transformers
langchain-text-splitters
python-dotenv
pytest
scikit-learn
pandas
matplotlib
